.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.name-header {
  text-align: center;
}

.statement-header {
  text-align: center;
}




body {
  background-color: #444444;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

body {
 background-image: url("https://media.istockphoto.com/illustrations/blue-abstract-dots-pattern-background-illustration-id1131858515?k=6&m=1131858515&s=612x612&w=0&h=DllIHZU1hvvXG63m-aKI_sFsIeMmQPNTY-z9s_DxA1E=");
 background-color: #cccccc;
}
